@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">This is an ERP (Enterprise Resource Planning) project using an MVC architecture pattern.<br />
        Developed by Albert Pipió Adroher with <br />.NET CORE technology.</h1>
    <br />
</div>