@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    <p class="display-6">Feel free to look around.</p>
</div>
